<?xml version="1.0"?>
<ruleset name="EdicionesMox">
    <description>Magento Coding Standard applied to custom EdicionesMox code only (core/vendor excluded).</description>

    <file>src/app/code/EdicionesMox</file>
    <file>src/app/design/frontend/EdicionesMox</file>

    <arg name="basepath" value="."/>
    <arg name="colors"/>
    <arg name="extensions" value="php,phtml"/>
    <arg value="p"/>

    <rule ref="Magento2"/>
</ruleset>
