//
//  Home CMS containers
//  _____________________________________________

& when (@media-common = true) {
    .edmox-promo {
        margin-bottom: 32px;
    }

    .edmox-promo {
        background: @mui-background-paper;
        border-radius: @mui-shape-md;
        box-shadow: @mui-elevation-1;
        padding: 24px;
    }
}
