//
//  Truper design tokens
//  _____________________________________________

//  Primary palette
@truper-color-primary: #4C84FF;
@truper-color-text: #192D5A;
@truper-color-white: #FFFFFF;

//  Secondary palette
@truper-color-error: #FF2B77;
@truper-color-success: #2FD565;
@truper-color-accent: #12DEF9;

//  Gray palette
@truper-color-stormy: #586782;
@truper-color-disabled: #E5E9ED;
@truper-color-cloud: #F5F7F8;
@truper-color-sky: #F8FAFB;
